In [1]:
# Initialize a dictionary "emp_info" with below details
# In - emp_info['Tom']
# Out - {'email':'tom_latham019@gmail.com', 'Phone': +1987654321, 'City': 'California'}
emp_info={'Tom':{'email':'tom_latham019@gmail.com', 'Phone': +1987654321, 'City': 'California'}}
print(emp_info['Tom'])
# In - emp_info['Kathy']
# Out - {'email':'kathy_abram897@gmail.com', 'Phone': +1887654321, 'City': 'New York'}
emp_info={'Kathy':{'email':'kathy_abram897@gmail.com', 'Phone': +1887654321, 'City': 'New York'}}
print(emp_info['Kathy'])

{'email': 'tom_latham019@gmail.com', 'Phone': 1987654321, 'City': 'California'}
{'email': 'kathy_abram897@gmail.com', 'Phone': 1887654321, 'City': 'New York'}

In [19]:
# Create a dictionary out of below inputs
# lst1 = ['emp1', 'emp2', 'emp3']
# emp_key = ['e_name', 'e_id', 'e_sal']
# emp1_val = ['John', 'SG101', '$10,000']
# emp2_val = ['Smith', 'SG102', '$9,000']
# emp3_val = ['Peter', 'SG103', '$9,500']

# Expected Output:- {'emp1':{'e_name':'John', 'e_id':'SG101', 'e_sal':$10,000}, 
#                    'emp2':{'e_name':'Smith', 'e_id':'SG102', 'e_sal':$9,000}, 
#                    'emp3':{'e_name':'Peter', 'e_id':'SG103', 'e_sal':$9,500}}
lst1 = ['emp1', 'emp2', 'emp3']
emp_key = ['e_name', 'e_id', 'e_sal']
emp1_val = ['John', 'SG101', '$10,000']
emp2_val = ['Smith', 'SG102', '$9,000']
emp3_val = ['Peter', 'SG103', '$9,500']
dic1=dict(zip(emp_key,tuple(emp1_val)))
dic2=dict(zip(emp_key,tuple(emp2_val)))
dic3=dict(zip(emp_key,tuple(emp3_val)))

d=dict(zip(lst1,(dic1,dic2,dic3)))
print(d)

{'emp1': {'e_name': 'John', 'e_id': 'SG101', 'e_sal': '$10,000'}, 'emp2': {'e_name': 'Smith', 'e_id': 'SG102', 'e_sal': '$9,000'}, 'emp3': {'e_name': 'Peter', 'e_id': 'SG103', 'e_sal': '$9,500'}}

In [20]:
# Acess the value of key 'history'

sampleDict = { 
   "class":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "physics":70,
            "history":80
         }
      }
   }
}
print(sampleDict['class']['student']['marks']['history'])

80

In [23]:
# Initialize dictionary with default values. Inputs are:-
# employees = ['Kelly', 'Emma', 'John']
# defaults = {"designation": 'Application Developer', "salary": 8000}

#Expected output:- {'Kelly': {'designation': 'Application Developer', 'salary': 8000}, 
#                   'Emma': {'designation': 'Application Developer', 'salary': 8000}, 
#                   'John': {'designation': 'Application Developer', 'salary': 8000}}

employees = ['Kelly', 'Emma', 'John']
defaults = {"designation": 'Application Developer', "salary": '8000'}
d=dict(zip(employees,()))
for i in range(0,len(employees)):
  d.setdefault(employees[i],defaults)
print(d)

{'Kelly': {'designation': 'Application Developer', 'salary': '8000'}, 'Emma': {'designation': 'Application Developer', 'salary': '8000'}, 'John': {'designation': 'Application Developer', 'salary': '8000'}}

In [30]:
# In gene expression, mRNA is transcribed from a DNA template. 
# The 4 nucleotide bases of A, T, C, G corresponds to the U, A, G, C bases of the mRNA. 
# Write a function that returns the mRNA transcript given the sequence of a DNA strand.

# Use a dictionary to provide the mapping of DNA to RNA bases.

def dna(s):
    d={"A":"U","T":"A","C":"G","G":"C"}
    s2=""
    for i in range(0,len(s)):
        s2=s2+d[s[i]]
    return s2
print(dna('TGCATTGACG'))

ACGUAACUGC

In [67]:
# Write a function which takes a word as input and returns a dictionary with letters as key and no of time letters are repeated as value.
# In - count_letter('google.com')
# Out - {'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

def count_letter(w):
    lst1=[]
    lst2=[]
    k=0
    
    for i in range(0,len(w)):
        ct=1
        
        for j in range(i+1,len(w)):
            if(w[j]==w[i]):
             ct+=1
       
        lst1.append(w[i])
        lst2.append(ct)
        k+=1
    
    d2={}
    d1=dict(zip(lst1[::-1],tuple(lst2[::-1])))
    for i in range(0,len(lst1)):
     d2.update(d1.fromkeys(lst1[i],d1[lst1[i]]))
    return d2
count_letter('google.com')

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

In [68]:
# A DNA strand consisting of the 4 nucleotide bases is usually represented with a string of letters: A,T, C, G. 
# Write a function that computes the base composition of a given DNA sequence.

# In - baseComposition("CTATCGGCACCCTTTCAGCA")
# Out - {'A': 4, 'C': 8, 'T': 5,  'G': 3 }
    
# In - baseComposition("AGT")
# Out - {'A': 1, 'C': 0, 'T': 1,  'G': 1 }

def baseComposition(w):
    lst1=[]
    lst2=[]
    k=0
    
    for i in range(0,len(w)):
        ct=1
        
        for j in range(i+1,len(w)):
            if(w[j]==w[i]):
             ct+=1
       
        lst1.append(w[i])
        lst2.append(ct)
        k+=1
   
    d2={}
    lst=['A','C','T','G']
    d1=dict(zip(lst1[::-1],tuple(lst2[::-1])))
    for i in range(0,len(lst)):
     d2.update(d1.fromkeys(lst[i],d1[lst[i]]))
    return d2
baseComposition('CTATCGGCACCCTTTCAGCA')

{'A': 4, 'C': 8, 'T': 5, 'G': 3}

In [76]:
# [MCQ] Suppose "d" is an empty dictionary, which statement does not assign "d" with {"Name":"Tom"}? 
# 1. d = {"Name": "Tom" }
# 2. d["Name"] = "Tom"
# 3. d.update({"Name": "Tom" })
# 4. d.setdefault("Name", "Tom")
# 5. None of the above.

#Answer: 5(None of the above)

In [77]:
# [MCQ] d = {"a":1, "b":2}. Which of the statements returns [1,2]? 
# 1. d.keys()
# 2. d.values()
# 3. d.items()
# 4. d.popitem()
# 5. None of the above.

#Answer:2(d.values())

In [ ]:
# [MCQ] Which of the following declarations is not valid for 'dict' type?
# 1. d = {"Name": "Tom" }
# 2. d = { (1,3,4): 4.5 }
# 3. d = { ["First", "Last"]: (1,3) }
# 4. d = { 1: 0.4 }
# 5. None of the above

#Answer:3(Reason: List is a mutable type and cannot be assigned for key)

In [83]:
# Write a function reverseLookup(dictionary, value) that takes in a dictionary 
# and a value as arguments and returns a sorted list of all keys that contains the value. 
# The function will return an empty list if no match is found.

# In - reverseLookup({'a':1, 'b':2, 'c':2}, 1)
# Out - ['a']
# In - reverseLookup({'a':1, 'b':2, 'c':2}, 2)
# Out - ['b', 'c']
# In - reverseLookup({'a':1, 'b':2, 'c':2}, 3)
# Out - []

def reverseLookup(d,v):
    lst=[]
    for key in d:
     if(d[key]==v):
        lst.append(key)
    return lst
print(reverseLookup({'a':1, 'b':2, 'c':2}, 1))
print(reverseLookup({'a':1, 'b':2, 'c':2}, 2))
print(reverseLookup({'a':1, 'b':2, 'c':2}, 3))

['a']
['b', 'c']
[]

In [128]:
# Write a function invertDictionary(d) that takes in a dictionary as argument and return a dictionary that inverts the keys and the values of the original dictionary.
# In - invertDictionary({'a':1, 'b':2, 'c':3, 'd':2})
# Out - {1: ['a'], 2: ['b', 'd'], 3: ['c']}
# In - invertDictionary({'a':3, 'b':3, 'c':3})
# Out - {3: ['a', 'c', 'b']}
# In - invertDictionary({'a':2, 'b':1, 'c':2, 'd':1})
# Out - {1: ['b', 'd'], 2: ['a', 'c']}

def invertDictionary(d):

 d2=dict.fromkeys(d.values(),[])

 for key2 in d2.keys():
    lst=[]  
    for key in d.keys():
      
        if(d[key]==key2):

            lst.append(key)

    d2[key2]=lst
 return d2
 
invertDictionary({'a':1, 'b':2, 'c':3, 'd':2})

{1: ['a'], 2: ['b', 'd'], 3: ['c']}

In [145]:
# Write a function that converts a sparse vector into a dictionary as described above.
# In - convertVector([1, 0, 0, 2, 0, 0, 0, 3, 0, 0, 0, 0, 4])
# Out - {0: 1, 3: 2, 7: 3, 12: 4}
# In - convertVector([1, 0, 1 , 0, 2, 0, 1, 0, 0, 1, 0])
# Out - {0: 1, 2: 1, 4: 2, 6: 1, 9: 1}
# In - convertVector([0, 0, 0, 0, 0])
# Out - {}

def convertVector(l):
    keys=[]
    values=[]
    for i in range(0,len(l)):
        if(l[i]!=0):
          keys.append(i)
          values.append(l[i])
    d=dict(zip(keys,tuple(values)))
    return d

print(convertVector([1, 0, 0, 2, 0, 0, 0, 3, 0, 0, 0, 0, 4]))

{0: 1, 3: 2, 7: 3, 12: 4}

In [153]:
# Write a function that converts a dictionary back to its sparse vector representation.
# In - convertDictionary({0: 1, 3: 2, 7: 3, 12: 4})
# Out - [1, 0, 0, 2, 0, 0, 0, 3, 0, 0, 0, 0, 4]
# In - convertDictionary({0: 1, 2: 1, 4: 2, 6: 1, 9: 1})
# Out - [1, 0, 1, 0, 2, 0, 1, 0, 0, 1]
# In - convertDictionary({})
# Out - []

def convertDictionary(d):
    keys=list(d.keys())
    values=list(d.values())
    lst=[]
    k=0
    if(keys!=[] and values!=[]):
     for i in range(0,max(keys)):
        if(i==keys[k]):
            lst.append(values[k])
            k+=1
        else:
            lst.append(0)
     lst.append(values[k])
    return lst
print(convertDictionary({0: 1, 3: 2, 7: 3, 12: 4}))
print(convertDictionary({0: 1, 2: 1, 4: 2, 6: 1, 9: 1}))
print(convertDictionary({}))

[1, 0, 0, 2, 0, 0, 0, 3, 0, 0, 0, 0, 4]
[1, 0, 1, 0, 2, 0, 1, 0, 0, 1]
[]

In [129]:
# Given a Python dictionary, Change Bradâ€™s salary to 8500
# sampleDict = {
#      'emp1': {'name': 'Jhon', 'salary': 7500},
#      'emp2': {'name': 'Emma', 'salary': 8000},
#      'emp3': {'name': 'Brad', 'salary': 6500}
# }

# Expected Output
# sampleDict = {
#      'emp1': {'name': 'Jhon', 'salary': 7500},
#      'emp2': {'name': 'Emma', 'salary': 8000},
#      'emp3': {'name': 'Brad', 'salary': 8500}
# }

sampleDict = {
     'emp1': {'name': 'Jhon', 'salary': 7500},
     'emp2': {'name': 'Emma', 'salary': 8000},
     'emp3': {'name': 'Brad', 'salary': 6500}
}

sampleDict['emp3']['salary']=8500
print(sampleDict)

{'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}

In [130]:
# Get the key corresponding to the minimum value from the following dictionary
# sampleDict = {
#   'Physics': 82,
#   'Math': 65,
#   'history': 75
# }

# Expected Output
# Math
sampleDict = {
  'Physics': 82,
  'Math': 65,
  'history': 75
}

m=min(sampleDict.values())
k=''
for key in sampleDict:
    if(sampleDict[key]==m):
     k=key
print(k)

Math

In [138]:
# Rename key city to location in the following dictionary
# sampleDict = {
#   "name": "Kelly",
#   "age":25,
#   "salary": 8000,
#   "city": "New york"
# }

# Expected Output
# {
#   "name": "Kelly",
#   "age":25,
#   "salary": 8000,
#   "location": "New york"
# }
sampleDict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}

l=list(sampleDict.keys())
l2=list(sampleDict.values())
for i in range(0,len(l)):
    if(l[i]=='city'):
     l[i]='Location'
d=dict.fromkeys(l,"")
for i in range(0,len(l)):
     d[l[i]]=l2[i]   

print(d)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'Location': 'New york'}

In [142]:
# Check if a value 200 exists in a dictionary
# sampleDict = {'a': 100, 'b': 200, 'c': 300}

# Expected Output: True
sampleDict = {'a': 100, 'b': 200, 'c': 300}
lst=list(sampleDict.values())
flag=0
for i in range(0,len(lst)):
    if(lst[i]==200):
     print(True)
     flag=1
     break
if(flag==0):
    print(False)

True

In [79]:
# Delete set of keys from Python Dictionary
# sampleDict = {
#   "name": "Kelly",
#   "age":25,
#   "salary": 8000,
#   "city": "New york"
  
# }
# keysToRemove = ["name", "salary"]

# Expected Output:
# {'city': 'New york', 'age': 25}
sampleDict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"}
print(sampleDict)
keysToRemove = ["name", "salary"]

for i in range(0,len(keysToRemove)):
    sampleDict.pop(keysToRemove[i])
print(sampleDict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'city': 'New york'}
{'age': 25, 'city': 'New york'}